{% extends 'base.html.twig' %}

{% block title %}modifier mon mot de passe - La boutique française{% endblock %}

{% block contents %}
    <h1>Modifier mon mot de passe</h1>
    Changer le mot de passe de {{app.user.firstname}} 
    <hr>
    - <a href ="{{path('app_account')}}">Retourner à mon compte</a><br> 
    <hr>
    {% if notification %}
    <div class="alert alert-info">{{notification}}</div>
    {% endif %}
    {{ form(form) }}
    -ajouter mes adresses
    -mes commandes
    <hr>
{% endblock %}